<div>
  <h1>Hey {{user.username}}, Welcome to your profile</h1>
</div>
<img src='{{user.profilePic}}'>


<div>
  <a class="nav-link" href="/profile/details">Go to my account</a>
  <a href="/country">Add a destination</a>
</div>

<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Wishlist</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked" class="darkmode-ignore">
    <div>
      <p>{{#each country.countryWishList}}
      <form action="/home/profile/{{this._id}}" method="POST">
        <p>{{this.name}}
          <button type="submit" class="btn  btn-danger">Delete</button>
      </form>
      <!--
      <form action="/search" method='GET'>
      <button class="btn btn-warning">Edit</button>
      </form>-->
      </p>
      {{/each}}</p>
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">Already Visited countries</label>
    <input id="tab2-2" name="tabs-two" type="radio" class="darkmode-ignore">
    <div>
      <p>{{#each country.countryVisitor}}
      <form action="/home/profile/{{this._id}}" method="POST">
        <p>{{this.name}}
          <button type="submit" class="btn  btn-danger">Delete</button>
      </form>
      <!--
      <form action="/home/profile/{{this._id}}" method='GET'>
      <button class="btn btn-warning">Edit</button>
      </form>
      -->
      </p>
      {{/each}}</p>
    </div>
  </div>
</div>

{{!-- <div  id="mapid"></div>

<script>
	const map = L.map('mapid').setView([51.505, -0.09], 3);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
  let myCountry = {{{country}}}
  for (let i = 0; i < myCountry.length; i++){
	L.marker(myCountry[i].latlng).addTo(map)
	.bindPopup(`<a href="/country/${myCountry[i]._id}">${myCountry[i].name}</a>`)
  }
</script> --}}