<p>Username : {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Date of Birth: {{user.age}}</p>
<p>Favorite Country: {{user.favoriteCountry}}</p>
<p>Favorite Way of Travelling: {{user.favoriteWayOfTraveling}}</p>
<p>Type of Traveller: {{user.typeOfTraveller}}</p>
<p>Photo: <img src='{{user.profilePic}}'></p>



<form action='/profile/edit' method="GET">
  <button class="btn btn-warning">Edit</button>
</form>
<br>
<form action='/profile/delete' method="POST">
  <button class="btn btn-danger">Delete your account</button>
</form>
<button class="btn btn-primary"><a href="/home/profile">Go to your profile</a></button>