<div>
  <h1>Hey {{user.username}}, Welcome to your profile</h1>
</div>


<div>
  <a class="nav-link" href="/profile/{{user._id}}/details">Go to my account</a>
  <a href="/country">Add a destination</a>
</div>

<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Wishlist</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked" class="darkmode-ignore">
    <div>
      <p>{{#each country.countryWishList}}
      <form action="/home/profile/{{this._id}}" method="POST">
        <p>{{this.name}}
          <button type="submit" class="btn  btn-danger">Delete</button>
      </form>
      </p>
      {{/each}}</p>
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">Already Visited countries</label>
    <input id="tab2-2" name="tabs-two" type="radio" class="darkmode-ignore">
    <div>
      <p>{{#each country.countryVisitor}}
      <form action="/home/profile/{{this._id}}" method="POST">
        <p>{{this.name}}
          <button type="submit" class="btn  btn-danger">Delete</button>
      </form>
      </p>
      {{/each}}</p>
    </div>
  </div>
</div>
