<div>
  <h1 id="catchPhrase">Hey {{user.username}}, Welcome to your profile</h1>
</div>
<div ><img class="imageProfile" src='{{user.profilePic}}'></div>



<div class="buttonProfile">
  <button class="btn button-travel buttonMargin darkmode-ignore"><a class="nav-link linkProfile" href="/profile/{{user._id}}/details">Go to my account</a></button>
  <button class="btn button-travel buttonMargin darkmode-ignore"><a class="nav-link linkProfile" href="/country">Add a destination</a></button>
</div>

<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Wishlist</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked" class="darkmode-ignore">
    <div>
      <p>{{#each user.countryWishList}}
      <form action="/home/profile/{{this._id}}" method="POST">
        <p class="countryName"><a class="linkCountry" href="/country/{{this._id}}">{{this.name}}</a>
          <button type="submit" class="btn  btn-danger btn-size darkmode-ignore">Delete</button>
      </form>
      <!--
      <form action="/search" method='GET'>
      <button class="btn btn-warning">Edit</button>
      </form>-->
      </p>
      {{/each}}</p>
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">Already Visited countries</label>
    <input id="tab2-2" name="tabs-two" type="radio" class="darkmode-ignore">
    <div>
      <p>{{#each user.countryVisitor}}
      <form action="/home/profile/{{this._id}}" method="POST">
        <p class="countryName"><a class="linkCountry" href="/country/{{this._id}}">{{this.name}}</a>
          <button type="submit" class="btn  btn-danger  btn-size darkmode-ignore">Delete</button>
      </form>
      <!--
      <form action="/home/profile/{{this._id}}" method='GET'>
      <button class="btn btn-warning">Edit</button>
      </form>
      -->
      </p>
      {{/each}}</p>
    </div>
  </div>
</div>

<div id="mapidProfile"></div>

<script>
  const map = L.map('mapidProfile').setView([51.505, -0.09], 3);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  let myCountry = {{{ country }}}
  for (let i = 0; i < myCountry.countryWishList.length; i++) {
    L.marker(myCountry.countryWishList[i].latlng).addTo(map)
      .bindPopup(`<a href="/country/${myCountry.countryWishList[i]._id}">${myCountry.countryWishList[i].name}</a>`)
  }
    for (let i = 0; i < myCountry.countryVisitor.length; i++) {
    L.marker(myCountry.countryVisitor[i].latlng).addTo(map)
      .bindPopup(`<a href="/country/${myCountry.countryVisitor[i]._id}">${myCountry.countryVisitor[i].name}</a>`)
  }

</script>