<h1>List of my Trips</h1>

<div id="tripcontainer">
  {{#each result.userTrips }}
<div class= "eachtrip">
<p> Trip name: {{this.tripName}}</p>
<p> Main City to Visit: {{this.mainCitytoVisit}}</p>
<p> Activity: {{this.activitiesToDo}}</p>
<p> Notes: {{this.notes}}</p>
<form action='/mytrips/{{this._id}}/edit' method="GET">
<button>Edit</button>
</form>
<form action='/mytrips/{{this._id}}/delete' method="POST">
<button>Delete</button>
</form>
</div>
{{/each}}

</div>
